.card {
  max-width: 650px;
}

.card__title {
  font-family: "Inter", Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 32px;
}

.card__list {
  list-style: none;
  min-width: 550px;
  max-width: 550px;
}

.card__list-item {
  font-family: "Noto-Serif", "Times New Roman", serif;
  font-size: 16px;
  line-height: 20px;
  border: none;
  border-bottom: 1px solid #fff;
  display: flex;
  justify-content: space-between;
}

.card__list-divider {
  flex-grow: 1;
}
