.card {
  /* flex-basis: 500px; */
  /* max-width: 600px; */
  /* flex-grow: 1; */
  max-width: 650px;
  /* display: flex; */
  /* justify-content: space-between; */
}

.card__title {
  font-family: "Inter", Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 32px;
}

.card__list {
  list-style: none;
  min-width: 550px;
  max-width: 550px;
}

.card__list-item {
  font-family: "Noto-Serif", "Times New Roman", serif;
  font-size: 16px;
  line-height: 20px;
  border: none;
  display: flex;
  justify-content: space-between;
}

.card__list-divider {
  border-bottom: 1px solid #fff;
  flex-grow: 1;
  height: 1px;
  background-color: #fff;
}
