.header {
  position: relative;
  background-color: #ffffff;
  background-image: url("../images/background_header.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: auto;
}

.header__title {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  margin-left: 80px;
  margin-top: 0;
  margin-right: none;
  margin-bottom: 28px;
}

.header__span-accent {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
  margin: 0;
}

.header_description {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-left: 80px;
}

.header__image {
  max-width: 520px;
  height: 500px;
  position: absolute;
  right: 5px;
  top: 124px;
}

.header__paragraph {
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
  margin: 100px 80px 40px 80px;
  list-style-type: none;
}

.header__paragraph__list {
  list-style: none;
  list-style-type: none;
  padding: 0;
  margin-left: 0;
  margin-top: 65px;
  display: flex;
  flex-direction: column;
}
