.nav {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-top: 30px;
  margin-right: 80px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 202px;
}

.nav__links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-self: start;
}

.nav__link {
  text-decoration: none;
  color: black;
  transition: color;
  transition-timing-function: linear;
  transition-duration: 0.8s;
  /* margin-left: 20px; */ /*used flex and a gap instead so theres no need for the margin set */
}

.nav__link:first-of-type {
  margin-left: 0;
}

.nav__link:hover {
  color: #1f69c9;
}
